<form{{ attributes}}>
	<div class="row">  
		<div class="form-group col-lg-6 col-md-12 one">
			{{ element.elements.name }}
		</div>
		<div class="form-group col-lg-6 col-md-12 one">
			{{ element.elements.phone }}
		</div>
		<div class="form-group col-lg-6 col-md-12 one">
			{{ element.elements.email }}
		</div>
		<div class="form-group col-lg-6 col-md-12 one">
			{{ element.elements.subject }}
		</div>
		<div class="form-group col-lg-12 col-md-12 one">
			{{ element.elements.message }}
		</div>
	</div>
	{{ element.elements.actions }}
	{{ element.form_build_id }}
	{{ element.form_token }}
	{{ element.form_id }}
</form>