

{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- End NavBar -->

<div class="main-menu-area fixed-top" id="main-menu">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-white site-navigation navbar-togglable">
          {{page.logo}}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
          </button>
          {{page.primary_menu}}
      </nav>
  </div>
</div>
<!-- End Navbar -->

{% set url = url('<current>') %}
{% if 'user' in url|render|render %}
<!-- Top Banner Section -->

<div class="top-banner" style="background-image:url('{{banner_image}}');">
    <div class="container top-banner-caption text-center">
      <h1>{{page['#title']}}</h1>
    </div>
</div>

<!-- End Top Banner Section -->
{% endif %}


{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>404</h1>
          <h2>Page Not Found</h2> 
        </div>  
          <h2>Sorry. We can't find a page.</h2>
          <p class="not-p">The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}

<!-- Start footer section -->
<footer class="dark-wrapper inverse-text">
    <div class="sub-footer">
      <div class="container inner text-center"> 
        {{page.footer}}
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}  
        <ul class="social social-bg social-s">
            {% if twitter %}
                  <li><a href="{{twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if facebook %}
                  <li><a href="{{facebook}}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if pinterest %}
                    <li><a href="{{pinterest}}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if vimeo %}
                  <li><a href="{{vimeo}}"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if instagram %}
                  <li><a href="{{instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            {% endif %}
        </ul>
      </div> 
    </div>
  </footer>
<!-- End footer Section -->  